*.pyc
*.rar
*.zip
*.png
*.ipynb
*.svg
*.ico
*.obj
*.exe
*.exp
*.lib
*.in
*.log
*.pyd
*.ini
*.swp
*.tag
*.npy
*.old

setup.py
calculator.py
config.cfg
FitSingle.py
TestScript.py
test.py
Core.py
cy_funcs.c

/__pycache__
/ipynb_checkpoints
/build
/Build Essentials
/CustomScripts
/dist
/xismus.egg-info
/GUI/wheel.gif
