*.pyc
*.rar
*.zip
*.png
*.ipynb
*.svg
*.ico
*.obj
*.exe
*.exp
*.lib
*.in
*.log
*.pyd
*.ini
*.swp
*.tag
*.npy

setup.py
calculator.py
config.cfg
FastFit.py

/__pycache__
/ipynb_checkpoints
/build
/Build Essentials
/CustomScripts
/dist
/xismus.egg-info
/GUI/wheel.gif